/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/12/2015, 15:32:07
    Author     : João Paulo

*/

.ui-widget {
    font-size: 14px !important;
    font-family: Verdana,sans-serif !important;    
}
